.form {
  width: calc(40vw - 60px);
  padding: 30px;
  background-color: #e8e8e8;
  border-radius: 20px;
  margin: 30px;
}

.form div,
.form button {
  margin: 8px 0px;
}

label {
  display: block;
}

.form input,
.form textarea {
  padding: 6px;
  width: 100%;
}

.form textarea {
  min-height: 140px;
}

.form textarea {
  resize: none;
}

.form button {
  font-size: 1.2rem;
  border: none;
  padding: 8px 32px;
  background-color: #bbbfca;
  border-radius: 10px;
  cursor: pointer;
}

.disabled input,
.disabled textarea,
.disabled label {
  pointer-events: none;
  opacity: 0.5;
}

.form label {
  font-size: 1.2rem;
  margin-bottom: 4px;
}

@media (max-width: 950px) {
  .form {
    width: calc(100vw - 60px);
  }
}
