.form {
    width: 40%;
    padding: 30px;
    background-color: #E8E8E8;
    margin: 30px;
    border-radius: 20px;
}

.form div,
.form button {
    margin: 8px 0px;
}

label {
    display: block;
}

.form input,
.form textarea {
    padding: 6px;
    width: 100%;
}

.form textarea {
    height: 140px;
}