* {
  font-family: "Roboto Flex", sans-serif;
}

body {
  background-color: #f4f4f2;
}

h2 {
  font-size: 1.65rem;
}

.app {
  display: flex;
}

@media (max-width: 950px) {
  .app {
    display: block;
  }
}
